<a href="https://colab.research.google.com/github/AartiKularni/Data-Science-/blob/main/DS_exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Creating Arrays

import numpy as np

# Create a 1D array
array_1d = np.array([1, 2, 3, 4, 5])
print("1D Array:", array_1d)

# Create a 2D array
array_2d = np.array([[1, 2, 3], [4, 5, 6]])
print("2D Array:", array_2d)

1D Array: [1 2 3 4 5]
2D Array: [[1 2 3]
 [4 5 6]]

In [ ]:
#2. Array Operations

# Element-wise operations
array_1 = np.array([1, 2, 3])
array_2 = np.array([4, 5, 6])

print("Addition:", array_1 + array_2)
print("Multiplication:", array_1 * array_2)

# Aggregation functions
print("Sum:", np.sum(array_1))
print("Mean:", np.mean(array_1))

Addition: [5 7 9]
Multiplication: [ 4 10 18]
Sum: 6
Mean: 2.0

In [ ]:
#3. Creating Series and DataFrames

import pandas as pd

# Create a Series
series = pd.Series([1, 2, 3, 4, 5])
print("Series:\n", series)

# Create a DataFrame
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32],
        'City': ['New York', 'Paris', 'Berlin', 'London']}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
DataFrame:
     Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

In [ ]:
#4. DataFrame Indexing and Selection

# Selecting a column
print("Age column:\n", df['Age'])

# Selecting multiple columns
print("Name and City columns:\n", df[['Name', 'City']])

# Filtering rows
print("Rows where Age > 30:\n", df[df['Age'] > 30])

Age column:
 0    28
1    24
2    35
3    32
Name: Age, dtype: int64
Name and City columns:
     Name      City
0   John  New York
1   Anna     Paris
2  Peter    Berlin
3  Linda    London
Rows where Age > 30:
     Name  Age    City
2  Peter   35  Berlin
3  Linda   32  London

In [ ]:
#Program 1
import pandas as pd
import numpy as np

# Step 1: Create a synthetic dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 22, 28, 24],
    'Salary': [50000, 60000, 55000, 65000, 52000],
    'Department': ['HR', 'IT', 'Marketing', 'IT', 'Finance']
}

df = pd.DataFrame(data)

# Display the dataset
print("Original Dataset:")
print(df)
print("\n")

# Step 2: Add, modify, and delete columns
# Add a new column 'Experience'
df['Experience'] = [2, 5, 1, 4, 2]

# Modify 'Salary' by increasing it by 10%
df['Salary'] = df['Salary'] * 1.1

# Delete the 'Department' column
df = df.drop(columns=['Department'])

# Display the modified dataset
print("Modified Dataset:")
print(df)
print("\n")

# Step 3: Filter and select data
# Select rows where Age is greater than 24
filtered_df = df[df['Age'] > 24]

# Display the filtered dataset
print("Filtered Dataset (Age > 24):")
print(filtered_df)
print("\n")

# Step 4: Handle missing values
# Add missing values to the 'Experience' column
df.loc[2, 'Experience'] = np.nan

# Fill missing values with the mean of the column
df['Experience'].fillna(df['Experience'].mean(), inplace=True)

# Display the dataset with missing values handled
print("Dataset with Missing Values Handled:")
print(df)
print("\n")

# Step 5: Sort and aggregate data
# Sort the dataset by 'Age' in descending order
sorted_df = df.sort_values(by='Age', ascending=False)

# Group the dataset by 'Experience' and calculate the mean salary
grouped_df = df.groupby('Experience')['Salary'].mean().reset_index()

# Display the sorted and aggregated datasets
print("Sorted Dataset (by Age):")
print(sorted_df)
print("\n")

print("Aggregated Dataset (Mean Salary by Experience):")
print(grouped_df)

Original Dataset:
      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   22   55000  Marketing
3    David   28   65000         IT
4      Eva   24   52000    Finance


Modified Dataset:
      Name  Age   Salary  Experience
0    Alice   25  55000.0           2
1      Bob   30  66000.0           5
2  Charlie   22  60500.0           1
3    David   28  71500.0           4
4      Eva   24  57200.0           2


Filtered Dataset (Age > 24):
    Name  Age   Salary  Experience
0  Alice   25  55000.0           2
1    Bob   30  66000.0           5
3  David   28  71500.0           4


Dataset with Missing Values Handled:
      Name  Age   Salary  Experience
0    Alice   25  55000.0        2.00
1      Bob   30  66000.0        5.00
2  Charlie   22  60500.0        3.25
3    David   28  71500.0        4.00
4      Eva   24  57200.0        2.00


Sorted Dataset (by Age):
      Name  Age   Salary  Experience
1      Bob   30  66000.0        5.00
3    David   28  71500.0        4.00
0    Alice   25  55000.0        2.00
4      Eva   24  57200.0        2.00
2  Charlie   22  60500.0        3.25


Aggregated Dataset (Mean Salary by Experience):
   Experience   Salary
0        2.00  56100.0
1        3.25  60500.0
2        4.00  71500.0
3        5.00  66000.0

/tmp/ipython-input-5-285196012.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Experience'].fillna(df['Experience'].mean(), inplace=True)

In [1]:
# Program 2

# Import necessary libraries
import pandas as pd

# Step 1: Create a Dataset
# We create a simple dataset representing employee information.
data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'First_Name': ['John', 'Alice', 'Bob', 'Charlie', 'Eva'],
    'Last_Name': ['Doe', 'Smith', 'Johnson', 'Brown', 'Johnson'],
    'Age': [35, 28, 42, 45, 22],
    'Department': ['HR', 'Engineering', 'IT', 'Finance', 'Sales']
}

# Create a DataFrame using the dataset
employee_df = pd.DataFrame(data)

# Step 2: Simulate Data Collection Methods
# In practice, data collection methods may involve surveys, web scraping, or other techniques.
# For this example, we'll add a new employee using simulated data collection.

new_employee = {
    'Employee_ID': 106,
    'First_Name': 'Frank',
    'Last_Name': 'Wong',
    'Age': 38,
    'Department': 'HR'
}

# Add the new employee to the dataset
employee_df = pd.concat([employee_df, pd.DataFrame([new_employee])], ignore_index=True)


# Step 3: Organize the Data
# Use Pandas to structure and organize the collected data.

# Display the final dataset
print("Employee Dataset:")
print(employee_df)

Employee Dataset:
   Employee_ID First_Name Last_Name  Age   Department
0          101       John       Doe   35           HR
1          102      Alice     Smith   28  Engineering
2          103        Bob   Johnson   42           IT
3          104    Charlie     Brown   45      Finance
4          105        Eva   Johnson   22        Sales
5          106      Frank      Wong   38           HR